/*
Designed by Digital Dreams
Web Design Studio
http://www.digitaldream-designs.com/
"We turn the ordinary into extraordinary."
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tbody, tfoot, thead, article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	background:transparent;
}                  

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; background:transparent; }

/* END RESET CSS */

html { overflow-y: scroll; }

body {
	color: #000;
	background-color: #161616;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height: 18px;
	background-image: url(images/black_denim.png);
	background-repeat: repeat;
}

a {
	text-decoration: none;
	outline: none;
	color: #016BD9;
	font-weight: bold;
}

a:hover{
	text-decoration: none;
	outline: none;
	color: #333333;
}

a img {
	border: 0;
}
h1 {
	font-size: 18px;
	font-weight: bold;
}
h2 {
	font-size: 16px;
}

li {
	text-decoration: none;
	list-style-image: none;
	list-style-type: none;
}
hr {
	background-image: url(images/hr.png);
	background-repeat: no-repeat;
	height: 25px;
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	border: none;
}
.wrapper {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
	padding: 5px;
	background-color: #FFF;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	overflow: auto;
}
.header {
	height: 350px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(images/header.png);
	background-repeat: no-repeat;
}
.login {
	float: left;
	width: 1000px;
	text-align: center;
	background-color: #FFF;
}
.login #allrights {
	margin-left: 150px;
	float: left;
	margin-right: 100px;
}
.login form {
	margin-top: 10px;
}
#loginuser {
	float: left;
}
form label {
	font-weight: bold;
}
form input, form select {
	margin-left: 10px;
	margin-right: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid #FC0;
}
form input {
	background-color: transparent;
	background-image: url(images/input.png);
	background-repeat: repeat-x;
	color: #FFF;
}
form textarea {
	background-color: transparent;
	background-image: url(images/textarea.png);
	background-repeat: repeat-y;
	color: #FFF;
	border: 1px solid #FC0;
}
input[type="submit"], input[type="reset"] {
	background-color: transparent;
	background-image: url(images/menu_button.png);
	background-repeat: none;
	border: none;
	color: #FFF;
	width: 100px;
	height: 45px;
}
input[type="submit"]:hover, input[type="reset"]:hover {
	background-color: transparent;
	background-image: url(images/menu_button_hover.png);
	background-repeat: none;
	border: none;
	color: #FFF;
	width: 100px;
	height: 45px;
	font-weight: bold;
}
#highlight1 {
	background-color: #CCC;
}
#highlight2 {
	background-color: #CC0000;
}
#highlight3 {
	background-color: #963;
}
#highlight4 {
	background-color: #8080FF;
}
#highlight5 {
	background-color: #F90;
}
#id {
	background-color: #900;
	color: #FFF;
}
#idnumber {
	background-color: #900;
	color: #FFF;
}
#red {
	color: #C00;
	font-weight:bold;
}
.st {
	font-weight: bold;
}
	
.clearit {
    clear: both;
    text-align: center;
}

#menu {
	height: 45px;
	margin-top: 35px;
	margin-right: auto;
	margin-left: auto;
	width: 800px;
}
#menu ul {
	margin: 0;
	list-style: none;
	display: block;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}
#menu ul li {
	padding: 0;
	margin: 0;
	display: block;
}
#menu ul li a {
	float: left;
	display: block;
	font-size: 11px;
	width: 100px;
	height: 35px;
	padding-top: 10px;
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	outline: none;
	background-image: url(images/menu_button.png);
	background-repeat: no-repeat;
}
#menu ul li a:hover, #menu ul .current {
	background-image: url(images/menu_button_hover.png);
	background-repeat: no-repeat;
}


#submenu {
	height: 45px;
	margin-top: 35px;
	margin-right: auto;
	margin-left: auto;
	width: 800px;
}
#submenu ul {
	margin: 0;
	list-style: none;
	display: block;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}
#submenu ul li {
	padding: 0;
	margin: 0;
	display: block;
}
#submenu ul li a {
	float: left;
	display: block;
	font-size: 11px;
	width: 100px;
	height: 35px;
	padding-top: 10px;
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	outline: none;
	background-image: url(images/menu_button.png);
	background-repeat: no-repeat;
}
#submenu ul li a:hover, #submenu ul .current {
	background-image: url(images/menu_button_hover.png);
	background-repeat: no-repeat;
}

.footer {
	background-image: url(images/footer.png);
	height: 79px;
	width: 1000px;
	background-color: transparent;
	background-repeat: no-repeat;
	color: #666;
	margin-right: auto;
	margin-left: auto;
}
.footer a {
	color: #666666;
	text-decoration: none;
}
.footer a:hover {
	color: #218FFE;
}
#footer1 {
	float: left;
	width: 48%;
	margin-top: 25px;
	padding-left: 2%;
}
#footer2 {
	float: right;
	width: 48%;
	text-align: right;
	margin-top: 25px;
	padding-right: 2%;
}
ul li ul {
}
.ProjectView {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
.ClientName {
	width: 100%;
	clear: both;
	margin-bottom: 15px;
}
.Job {
	float: left;
	width : 31%;
	margin-right: 2%;
	clear: none;
	margin-bottom: 15px;
}
.Project {
	float: left;
	width: 31%;
	margin-right: 2%;
	clear: none;
	margin-bottom: 15px;
}
.Contract {
	float: left;
	width: 48%;
	margin-right: 2%;
	clear: none;
	margin-bottom: 15px;
}
.Invoice {
	float: left;
	width: 31%;
	margin-right: 2%;
	clear: none;
	margin-bottom: 15px;
}
.JobDesc {
	float: left;
	width: 31%;
	margin-right: 2%;
	clear: none;
	margin-bottom: 15px;
}
.Url {
	float: left;
	width: 31%;
	margin-right: 2%;
	clear: none;
	margin-bottom: 15px;
}
.Notes {
	float:left;
	width: 73%;
	margin-right: 2%;
	clear: none;
	margin-bottom: 15px;
}
.Total {
	float: left;
	width: 25%;
	clear: right;
	margin-bottom: 15px;
}
.UserIdent {
	width: 200px;
	margin-right: auto;
	margin-left: auto;
}
.UserIdent span {
	color: #FC0;
	font-weight: bold;
	text-shadow: 1px 1px 1px #3658A9;
}
